@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-gray-50 text-slate-800;
  font-family: 'Noto Sans JP', sans-serif;
  overflow-x: hidden;
}

.section-title::after {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  background-color: #215261;
  margin: 0 auto;
  margin-top: 10px;
}

@media (max-width: 500px) {
  .sm-w-full {
    width: 100%;
  }

  .text-l-sp {
    font-size: 17px;
  }

  .text-s-sp {
    font-size: 14px;
  }

  .text-m-sp {
    font-size: 12px;
  }

  .sm-top-sp {
    width: 95%;
  }

  .sm-text-p {
    padding-inline: 10px;
  }
}